<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="21.10.0" targetFramework="net48" />
  <package id="BoDi" version="1.5.0" targetFramework="net48" />
  <package id="CsvHelper" version="27.1.1" targetFramework="net48" />
  <package id="Dapper" version="2.0.123" targetFramework="net48" />
  <package id="DotNetSeleniumExtras.PageObjects.Core" version="4.3.0" targetFramework="net48" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net48" />
  <package id="DotNetZip" version="1.15.0" targetFramework="net48" />
  <package id="Gherkin" version="19.0.3" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.11.34" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.NET.Test.Sdk" version="15.0.0" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.TestHost" version="15.0.0" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NUnit" version="3.13.3" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="4.2.1" targetFramework="net48" />
  <package id="NUnitTestAdapter" version="2.3.0" targetFramework="net48" />
  <package id="Pj.Library" version="1.0.4.10" targetFramework="net48" />
  <package id="Pj.Library.Secure" version="1.0.4.10" targetFramework="net48" />
  <package id="Pj.Library.ThirdParty" version="1.0.4.10" targetFramework="net48" />
  <package id="Selenium.Essentials" version="1.0.5.8" targetFramework="net48" />
  <package id="Selenium.Support" version="4.3.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.3.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="104.0.5112.7900" targetFramework="net48" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.31.0.1" targetFramework="net48" />
  <package id="SharpZipLib.NETStandard" version="1.0.7" targetFramework="net48" />
  <package id="SpecFlow" version="3.9.74" targetFramework="net48" />
  <package id="SpecFlow.Internal.Json" version="1.0.8" targetFramework="net48" />
  <package id="SpecFlow.Tools.MsBuild.Generation" version="3.9.74" targetFramework="net48" />
  <package id="SpecRun.Runner" version="3.9.31" targetFramework="net48" />
  <package id="SpecRun.SpecFlow" version="3.9.31" targetFramework="net48" />
  <package id="SpecRun.SpecFlow.3-9-0" version="3.9.31" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.DispatchProxy" version="4.5.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="TestAny.Essentials.Api" version="1.0.5.8" targetFramework="net48" />
  <package id="TestAny.Essentials.Core" version="1.0.5.8" targetFramework="net48" />
  <package id="TimeZoneConverter" version="3.5.0" targetFramework="net48" />
  <package id="xunit" version="2.4.2" targetFramework="net48" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net48" />
  <package id="xunit.analyzers" version="1.0.0" targetFramework="net48" />
  <package id="xunit.assert" version="2.4.2" targetFramework="net48" />
  <package id="xunit.core" version="2.4.2" targetFramework="net48" />
  <package id="xunit.extensibility.core" version="2.4.2" targetFramework="net48" />
  <package id="xunit.extensibility.execution" version="2.4.2" targetFramework="net48" />
  <package id="xunit.runner.visualstudio" version="2.4.5" targetFramework="net48" developmentDependency="true" />
</packages>